[submodule "lib/jansson/jansson"]
	path = lib/jansson/jansson
	url = https://github.com/akheron/jansson
[submodule "lib/libevent/libevent"]
	path = lib/libevent/libevent
	url = https://github.com/libevent/libevent
[submodule "lib/libwebsockets/libwebsockets"]
	path = lib/libwebsockets/libwebsockets
	url = https://github.com/ARMmbed/libwebsockets.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/mbed-cloud-client"]
	path = lib/mbed-cloud-client
	url = https://github.com/PelionIoT/mbed-cloud-client
[submodule "lib/cpputest"]
	path = lib/cpputest
	url = git@github.com:cpputest/cpputest.git
[submodule "lib/docopt.c"]
	path = lib/docopt.c
	url = git@github.com:docopt/docopt.c.git
